{template "header.html"}
<div class="clear"></div>
<div class="photo">
	<div class="photo_l">
		{template "left.html"}	
    </div>
	<div class="photo_r">
    	<div class="idx"><img src="{HOME_THEME_PATH}images/ad.jpg" width="100%" /></div>
    	<div class="Dg">您当前位置：<a href="{SITE_URL}">首页</a>  > <a href="{MODULE_URL}">{MODULE_NAME}</a>  > TAG<!--面包屑--></div>
        <div class="tp_lm">
			<h3>{$tag}<!--Tag的名称，支持多个tag--></h3>
			<ul>
                <!--采用sql的方式查询数据sql由系统生成，action=sql使用方式参考帮助手册-->
        		{list action=sql sql='$tagsql' module=$dirname page=1 urlrule=$urlrule pagesize=$pagesize}
                <li>
                    <img src="{dr_thumb($t.thumb,280,170)}" align="left" />
                    <div class="r_ct">
                        <h4><a href="{$t.url}">{$t.title}</a></h4>
                        <div class="tt">
                            <span style="padding:0px">上传时间：</span>{$t.updatetime}
                            <span>上传者：</span>{$t.author}
                            <span>点击数：</span>{$t.hits}
                        </div>
                        <div class="into">{$t.description}</div>
                        <div class="xx"><a href="{$t.url}">查看图集</a></div>
                    </div>
                </li>
                {/list}
			</ul>
            <div class="fenye" id="fenye">
                {$pages}
            </div>
		</div>
    </div>	
</div>
<div class="clear"></div>
{template "footer.html","/"}