{template "header.html"}
<div class="inner met_flash">
	<div class="flash">
    <a href='http://www.dayrui.com/' target='_blank'><img src='http://www.dayrui.com/dayrui/statics/dayrui/images/index_banner2.jpg' width='980' height='90'></a>
    </div>
</div>

<div class="sidebar inner">
    <div class="sb_nav">
		{template "public.html"}
    </div>
    
    <div class="sb_box">
	    <h3 class="title">
			<div class="position">
            	当前位置：<a href="{dr_space_url($uid)}">网站首页</a> &gt; {dr_space_catpos($spaceid, $catid, ' > ')}
            </div>
			<span>{$cat.name}</span>
		</h3>
		<div class="clear"></div>
        <div class="active" id="productlist">
			<ul class='list-none metlist'>
            	{list action=model modelid=$modelid space=$spaceid IN_catid=$cat.childids field=id,title,updatetime,image page=1 pagesize=10 urlrule=$urlrule}
                <li class='list' style='width:162px; margin-left:11px; margin-right:11px;'>
                <a href='{dr_space_show_url($spaceid, $modelid, $t.id)}' class='img'><img src='{dr_thumb($t['image'][0]['file'], 160, 130)}' width='160' height='130' /></a>
                <h3><a href='{dr_space_show_url($spaceid, $modelid, $t.id)}'>{$t.title}</a></h3>
                </li>
                {/list}{$error}
            </ul>
			<div id="flip" class="metpager_8">{$pages}</div>
			<div class="clear"></div>
		</div>
    </div>
    <div class="clear"></div>
</div>
{template "footer.html"}