{template header.html}
<script type="text/javascript">
$(function(){
	$(".main table tr:last td").css('border-bottom','none');
});
</script>
<div class="content clearfix">
	{template navigator.html}
    <div class="article">
        <div class="message message_info">仅记录最近的10次登陆记录</div>
        <div class="section">
            <div class="title"><strong>{$meta_name}</strong></div>
            <div class="main dr_table">
				<table style="table-layout:fixed;">
					<thead>
						<tr>
							<th style="width:140px;" class="algin_l">登录时间</th>
							<th style="width:80px;" class="algin_c">登录类型</th>
							<th class="algin_l">登录Ip</th>
						</tr>
					</thead>
					<tbody>
					{loop $list $t}
					<tr>
						<td class="algin_l">{dr_date($t.login_time)}</td>
						<td class="algin_c">{if $t.login_type}{$t.login_type}{else}默认{/if}</td>
						<td class="algin_l"><a href="http://www.baidu.com/baidu?wd={$t.login_ip}" target="_blank">{$t.login_ip}</a></td>
					</tr>
					{/loop}
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>
{template footer.html}