{template header.html}
<script type="text/javascript">
$(function(){
	$(".main table tr:last td").css('border-bottom','none');
});
</script>
<div class="content clearfix">
	{template navigator.html}
    <div class="article">
        <div class="section">
            <div class="title"><strong>{$meta_name}</strong></div>
            <div class="main dr_table">
				<table style="table-layout:fixed;">
					<thead>
						<tr>
							<th style="width:120px;" class="algin_l">名称</th>
							<th style="width:150px;" class="algin_l">费用</th>
							<th class="algin_l"></th>
						</tr>
					</thead>
					<tbody>
					{loop $group $t}
					<tr>
						<td class="algin_l">{$t.name}</td>
						<td class="algin_l">
						{if $t.unit==1}
						{intval($t.price)} 
						{SITE_SCORE}
						{else}
						{$t.price} 
						{SITE_MONEY}
						{/if}
						/
						{if $t.limit==1}月
						{else if $t.limit==2}半年
						{else if $t.limit==3}年
						{else if $t.limit==4}永久
						{/if}
						</td>
						<td class="algin_l">
						<a href="{dr_url('account/permission', array('groupid'=>$t.id))}">权限查看</a>
						&nbsp;&nbsp;
						<a href="{dr_url('account/upgrade', array('id'=>$t.id))}">{if $t.id==$member.groupid}<font color=green>立即续费</font>{else}立即申请{/if}</a>
						</td>
					</tr>
					{/loop}
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>
{template footer.html}