{template header.html}
<script type="text/javascript">
$(function(){
	$(".section_main table tr:last td").css('border-bottom','none');
});
function dr_show_more(id) {
	$(".dr_clear").hide();
	$(".dr_hide_"+id).show();
}
</script>
<style type="text/css">
.dr_table td {
    border-bottom: 1px solid #EEEEEE;
    height: 25px;
    line-height: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}
</style>
<div class="content clearfix">
	{template navigator.html}
	<div class="section_wp">
		<div class="message message_info">
			当前会员组：{$member.group.name}{if $member.levelid}，会员等级：{$member.level.name}{/if}{if $member.overdue}，过期时间：{if $member.overdue>2000000000}永久{else}{dr_date($member.overdue)}{/if}{/if}
		</div>
        <div class="section_title">
        	{loop $category $p $name}
        	<a href="{dr_member_url('account/permission', array('groupid' => $groupid, 'levelid' => $levelid, 'page' => $p))}" {if $page==$p}class="cur"{/if}>{$name}</a>
			{/loop}
        </div>
        <div class="section_main">
            <div class="msearch mbutton">
            {loop $group.level $lid $t}
            <a href="{dr_member_url('account/permission', array('groupid' => $groupid, 'levelid' => $lid, 'page' => $page))}" {if $lid==$levelid}class="cur"{/if}>{$t.name}</a>
            {/loop}
            </div>
            <div class="bk10"></div>
            {$content}
        </div>
    </div>
</div>
{template footer.html}