{template header.html}
<script type="text/javascript">
$(function(){
	$("#dr_loadmore a").click(function(){
		var page = $("#dr_page").val();
		$("#dr_loading").html("<div style='padding:30px;text-align:center;width:678px;'><img src='{MEMBER_THEME_PATH}images/loading.gif' /></div>");
		$.get("{$moreurl}", {page:page}, function(data){
			if (data != "null") {
				$("#dr_body").append(data);
				$("#dr_page").val(Number(page) + 1);
			}
			$("#dr_loading").html("");
		});
	});
});
function dr_delete() {
    art.dialog.confirm("你确认要删除选中项吗？", function(){
		var _data = $("#myform").serialize();
		var _url = window.location.href;
		if ((_data.split('ids')).length-1 <= 0) {
			$.dialog.tips("到底删除谁？您还没有选择呢", 2);
			return true;
		}
		// 将表单数据ajax提交验证
		$.ajax({type: "POST",dataType:"json", url: _url, data: _data,
			success: function(data) {
				//验证成功
				if (data.status == 1) {
					dr_tips(data.code, 3, 1);
                    $(".aui_state_lock").hide();
                    art.dialog.close();
					// 刷新页
					setTimeout('window.location.reload(true)', 3000);
                    return true;
				} else {
					$.dialog.tips(data.code, 3, 2);
					return true;
				}
			},
			error: function(HttpRequest, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + HttpRequest.statusText + "\r\n" + HttpRequest.responseText);
			}
		});
		return true;
	});
	return false;
}
</script>
<input name="page" id="dr_page" type="hidden" value="2" />
<div class="content clearfix">
	{template navigator.html}
    <div class="article">
        <div class="section">
            <div class="title"><strong>{$meta_name}</strong></div>
            <div class="main dr_table">
                <form action="" method="post" name="myform" id="myform">
				<table style="table-layout:fixed;margin-bottom: 0;">
				<thead>
					<tr>
						<th style="width:20px;" class="algin_r">&nbsp;</th>
						<th class="algin_l">主题</th>
						<th style="width:80px;" class="algin_l">状态</th>
						<th style="width:120px;" class="algin_l">发布时间</th>
						<th style="width:70px;" class="algin_l">操作</th>
					</tr>
				</thead>
				<tbody id="dr_body">
				{template back_data.html}
				</tbody>
				</table>
                <table style="table-layout:fixed;" class="mbutton">
                <tr>
                    <td style="width:20px;border:none" class="algin_r"><input type="checkbox" onclick="dr_selected()" id="dr_select" name="dr_select"></td>
					<td class="algin_l" style="padding-top:8px;border:none">
                    <button type="button" class="red_button" onClick="dr_delete()">删除</button>
                    <div class="onShow">发布的文档被管理员退回，请仔细修改后再次提交</div>
                    </td>
                </tr>
				</table>
                </form>
				<div id="dr_loading"></div>
                <div id="dr_loadmore" class="load-more"><a href="javascript:;">查 看 更 多</a></div>
            </div>
        </div>
    </div>
</div>
{template footer.html}