{loop $list $t}
{php $c=dr_string2array($t['content']);$back=dr_string2array($t['backinfo']);}
<tr>
	<td class="algin_r"><input type="checkbox" value="{$t['id']}" class="dr_select" name="ids[]" /></td>
	<td class="algin_l" title="{$c['title']}"><div class="dr_title">{$c['title']}</div></td>
	<td class="algin_l">退回</td>
	<td class="algin_l">{dr_date($t['inputtime'], '', 'red')}</td>
	<td class="algin_l"><a href="{dr_member_url(APP_DIR.'/back/edit', array('id'=>$t['id']))}">修改/查看</a></td>
</tr>
{/loop}