<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$meta_name}-{SITE_NAME}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{SITE_URL}dayrui/statics/css/table_form.css" rel="stylesheet" type="text/css" />
<link href="{MEMBER_PATH}statics/{MEMBER_THEME}/images/reset.css" rel="stylesheet" type="text/css"/>
<link href="{MEMBER_PATH}statics/{MEMBER_THEME}/images/member.css" rel="stylesheet" type="text/css"/>
<link href="{MEMBER_PATH}statics/OAuth/OAuth.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">var memberpath = "{MEMBER_PATH}";</script>
<script type="text/javascript" src="{MEMBER_PATH}statics/js/{SITE_LANGUAGE}.js"></script>
<script type="text/javascript" src="{MEMBER_PATH}statics/js/jquery.min.js"></script>
<script type="text/javascript" src="{MEMBER_PATH}statics/js/jquery.artDialog.js?skin=default"></script> 
<script type="text/javascript" src="{MEMBER_PATH}statics/js/validate.js"></script>
<script type="text/javascript" src="{MEMBER_PATH}statics/js/admin.js"></script>
<script type="text/javascript" src="{MEMBER_PATH}statics/js/dayrui.js"></script>
</head>
<body style="overflow-y:hidden;overflow-x:hidden">
<link href="{MEMBER_THEME_PATH}images/reg.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
$(function(){
	{if $error}
	dr_tips("<font color=red>{$error}</font>", 3);
	{/if}
});
</script>
<div class="login_mod" style="float:none; border:none;">
    <form method="post" action="">
    <ul>
        <li>
            <strong>会员：</strong>
            <input class="input_text" type="text" maxlength="64" autofocus="autofocus"  id="dr_username" name="data[username]" />
        </li>
        <li>
            <strong>密码：</strong>
            <input class="input_text" type="password" id="dr_password" name="data[password]" />
        </li>
        {if $code}
        <li class="check_code" id="dr_code">
            <strong>验证：</strong>
            <input class="input_text" type="text" maxlength="30" id="code"  name="code"  value="" />
            <span style="float:left"><img align="absmiddle" style="cursor:pointer;" onclick="this.src='{dr_member_url('api/captcha', array('width' => 90, 'height' => 32))}&'+Math.random();" src="{dr_member_url('api/captcha', array('width' => 90, 'height' => 32))}" /></span>
        </li>
        {/if}
        <li class="auto_login">
            <input type="checkbox" name="data[auto]" value="1" checked="checked" />
            <span>下次自动登录</span>
        </li>
        <li class="mbutton">
            <button type="submit" value="">
                 登录
            </button>
            <a href="{dr_member_url('login/find')}">忘记密码？</a>
        </li>
    </ul>
    </form>      
    <div class="login_other"> 
        <strong>使用合作网站帐号登录：</strong> 
        {list action=cache name=OAUTH} 
        <span class="dr_oauth_style dr_oauth_{$t.icon}" title="{$t.name}" onclick="window.location.href='{SITE_URL}member/index.php?c=api&m=oauth&id={$t.id}'"></span>
        {/list}
    </div>
</div>
</body>
</html>