{loop $list $t}
<tr id="dr_row_{$t.id}">
	<td class="algin_c"><a href="{$t.url}" title="{$t.title}" target="_blank">{$t.cid}</a></td>
	<td class="algin_l"><div class="dr_title">{dr_keyword_highlight($t.subject, $get.kw)}</div></td>
	<td class="algin_l">{dr_date($t.inputtime, '', 'red')}</td>
	<td class="algin_l">
	<a href="javascript:;" onclick="dr_dialog_show('查看', '{dr_member_url(APP_DIR.'/'.$this->ci->router->class.'/show', array('id' => $t.id))}')">查看</a>
    {if $isedit}
    &nbsp;<a href="{dr_member_url(APP_DIR.'/'.$this->ci->router->class.'/edit', array('id' => $t.id))}">修改</a>
    {/if}
	&nbsp;<a href="javascript:;" onclick="dr_delete('{$t.id}')">删除</a>
    </td>
</tr>
{/loop}