{template header.html}
<script type="text/javascript">
$(function() {
	{if $error}
	art.dialog.tips('<font color=red>{$error.msg}</font>', 3);
	d_tips('{$error.error}', 0);
	{/if}
});
</script>
<div class="content clearfix">
	<div class="page_url">
    	<a href="{SITE_URL}">首页</a> <span>&gt;</span> <a href="{dr_member_url('home/index')}">会员中心</a> <span>&gt;</span> {$meta_name}
    </div>
    <div class="section_wp drbox" style="width:auto;float:none">
        <div class="section_title">
        	<a href="javascript:;" class="cur">{$meta_name}</a>
        </div>
        <div class="section_main">
            <form action="" method="post">
			<table width="100%" class="table_form">
			{$myfield}
			<tr>
				<th style="border-bottom:none" width="160">&nbsp;</th>
				<td style="border-bottom:none;padding-top: 20px;"><div class="mbutton"><button value="" type="submit" class="submit_bt">提交</button></div></td>
			</tr>
			</table>
            </form>
        </div>
    </div>
</div>
{template footer.html}