{loop $list $t}
<tr>
	<td class="algin_l">{$t.id}</td>
	<td class="algin_l">{dr_date($t['inputtime'])}</td>
	<td class="algin_l"><b>{if $t['value'] > 0}<font color="#009933">+{$t['value']}</font>{else}<font color="#FF0000">{$t['value']}</font>{/if}</b></td>
	<td class="algin_c">{if $t.type}{$type[$t.type]['name']}{else}自助{/if}</td>
	<td class="algin_c">{if $t.status}付款成功{else}<font color="#FF0000">未付款</font>{/if}</td>
	<td class="algin_l">
    {if !$t.status && $t.type}<a href="{dr_member_url('pay/pay', array('id'=>$t.id))}">付款</a>&nbsp;&nbsp;{/if}
    {dr_lang_note($t['note'])}
    </td>
</tr>
{/loop}