{template header.html}
<div class="wp" id="wp">
    <div class="wp cl w" id="ct">
        <div class="nfl">
            <div class="f_c altw">
                <div class="alert_right" id="messagetext">
					{if $edit}
                	<p>文档修改成功，您还可以：</p>
					{else}
					<p>文档发布成功，您还可以：</p>
					{/if}
               		<p class="alert_btnleft">
						<a href="{$add}">继续发布</a>&nbsp;
						<a href="{$url}" target="_blank">查看文档</a>&nbsp;
						<a href="{$list}">返回列表</a>&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{$html}<!--异步生成html静态文件-->
{template footer.html}