<script type="text/javascript">
memberpath = "{MODULE_URL}";
$(function() { //防止回车提交表单
	document.onkeydown = function(e){ 
		var ev = document.all ? window.event : e;
		if (ev.keyCode==13) {
			$("#mark").val("1"); // 标识不能提交表单
		}
	}
	$(".table_form th").last().css('border','none');
	$(".table_form td").last().css('border','none');
});
function dr_form_check() {
	if ($("#mark").val() == 0) { 
		return true;
	} else {
		return false;
	}
}
// 表单提示
function d_tips(name, status, code) {
	var obj = $("#dr_"+name+"_tips");
	if (code) obj.html(code);
	if (status) {
		obj.attr("class", "onCorrect");
	} else {
		obj.attr("class", "onError");
		$("#dr_"+name).focus();
	}
}
</script>
<link href="{SITE_PATH}dayrui/statics/css/table_form.css" rel="stylesheet" type="text/css" />
<div class="table-list" style="width:520px;">
<form action="" method="post" id="myform" name="myform" onsubmit="return dr_form_check()">
<input name="mark" id="mark" type="hidden" value="0" />
<table width="100%" class="table_form">
<tr>
    <th width="100"><font color="red">*</font>&nbsp;城市： </th>
    <td>{dr_field_input('city', 'Linkage', $field['city']['setting'], $data['city'])}
    <font id="dr_city_tips">&nbsp;</font>
    </td>
</tr>
<tr>
    <th><font color="red">*</font>&nbsp;邮编： </th>
    <td>
    {dr_field_input('zipcode', 'Text', $field['zipcode']['setting'], $data['zipcode'])}
    <font id="dr_zipcode_tips">&nbsp;</font>
    </td>
</tr>
<tr>
    <th><font color="red">*</font>&nbsp;联系人： </th>
    <td>
    {dr_field_input('name', 'Text', $field['name']['setting'], $data['name'])}
    <font id="dr_name_tips">&nbsp;</font>
    </td>
</tr>
<tr>
    <th><font color="red">*</font>&nbsp;联系电话： </th>
    <td>
    {dr_field_input('phone', 'Text', $field['phone']['setting'], $data['phone'])}
    <font id="dr_phone_tips">&nbsp;</font>
    </td>
</tr>
<tr>
    <th><font color="red">*</font>&nbsp;街道地址： </th>
    <td>
    {dr_field_input('address', 'Text', $field['address']['setting'], $data['address'])}
    <font id="dr_address_tips">&nbsp;</font>
    </td>
</tr>
<tr>
    <th>&nbsp;默认地址： </th>
    <td>
    {dr_field_input('default', 'Radio', $field['default']['setting'], $data['default'])}
    <font id="dr_default_tips">&nbsp;</font>
    </td>
</tr>
</table>
</form>
</div>