<div class="lastbg">               
	<div class="last">
		<ul>
			<li style="border:0px">
            	<h4 class="h4one">购物指南</h4>
                <a href="">忘记密码？</a><br />
                <a href="">注册新用户</a><br />
                <a href="">网站订购流程</a><br />
                <a href="">账户信息</a><br />
                <a href="">常见问题</a><br />
            </li>
            <li>
                <h4 class="h4two">配送方式</h4>
                <a href="">配送常见问题</a><br />
                <a href="">配送费用收取标准</a><br />
            </li>
			<li>
				<h4 class="h4three">支付方式</h4>
                <a href="">支付常见问题</a><br />
                <a href="">换货注意事项</a><br />
                <a href="">退货注意事项</a><br />
                <a href="">退换货政策</a><br />
                <a href="">支付方式</a><br />
			</li>
			<li>
				<h4 class="h4four">售后服务</h4>
                <a href="">如何成为本站的注册用户？</a><br />
                <a href="">怎么登录会员管理中心？</a><br />
                <a href="">我的密码忘记了怎么办？</a><br />
			</li>
		</ul>
	</div>
	<div class="clear"></div>			 
    <div class="end">
        -<a href="">关于我们</a>-
        <a href="">联系我们</a>-
        <a href="">法律声明</a>-
        <a href="">人才招聘</a>-
        <a href="">免责声明</a>-
        <a href="">网站地图</a>-
        <div class="clear"></div>
    	Powered by FineCMS v{DR_VERSION} © 2011-{date('Y')} Dayrui Inc.<!--非授权用户请保留FineCMS的字样-->
    </div>
</div>
</body>
</html>