{template header.html}
<script type="text/javascript">
$(function() {
	var _url = art.dialog.data('dr_row');
	if (_url) {
		art.dialog.data('dr_row', '');
		window.location.href=_url;
	}
	var _id = window.location.hash;
	if (_id && $(_id).length > 0) {
		var pos = $(_id).offset().top - 100;
		$("html,body").animate({ scrollTop: pos }, 1000);
	}
});
</script>
<div class="subnav">
	<div class="content-menu ib-a blue line-x" id="cc">
		{$menu}<a href="javascript:;" onClick="return dr_confirm_url('{lang('html-581')}','{dr_url('member/menu/init')}');"><em>{lang('html-589')}</em></a><span>|</span><a href="{SYS_HELP_URL}103.html" target="_blank"><em>{lang('help')}</em></a><span>|</span>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">{lang('html-540')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<input name="action" id="action" type="hidden" value="order" />
		<table width="100%">
		<thead>
        <tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="30" align="center">{lang('order')}</th>
            <th width="400" align="left">{lang('html-026')}</th>
            <th width="99" align="center">{lang('html-378')}</th>
			<th align="left">{if $this->ci->is_auth('member/admin/menu/add')}<a class="add" title="{lang('add')}" href="{dr_dialog_url(dr_url('member/menu/add', array('pid'=>0)), 'add')}"></a>{/if}</th>
        </tr>
        </thead>
		<tbody>
		{$list}
		<tr>
			<th align="right"><input name="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="7" align="left"> 
            {if $this->ci->is_auth('member/admin/menu/del')}<input type="button" class="button" value="{lang('del')}" name="button" onClick="$('#action').val('del');return dr_confirm_del_all()" />&nbsp;{/if}
			{if $this->ci->is_auth('member/admin/menu/edit')}<input type="button" class="button" value="{lang('order')}" name="button" onclick="$('#action').val('order');return dr_confirm_del_all()" />&nbsp;<div class="onShow">{lang('html-054')}</div>{/if}
			</td>
		</tr>
		</tbody>
		</table>
		</form>
	</div>
</div>
{template footer.html}