{template header.html}
<script type="text/javascript">
function dr_export() {
	
	var _data = $("#myform").serialize();
	var _url = window.location.href;
	if ((_data.split('ids')).length-1 <= 0) {
		$.dialog.tips(lang['select_null'], 2);
		return true;
	}
	
	var throughBox	= $.dialog.through;
	var dr_Dialog	= throughBox({title: "{lang('html-413')}"});
	$.ajax({type: "POST", dataType:"text", url: _url, data: _data,
		success: function(data) {
			dr_Dialog.content(data);
		},
		error: function(HttpRequest, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + HttpRequest.statusText + "\r\n" + HttpRequest.responseText);
		}
	});
} 
</script>
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <form method="post" action="" name="searchform" id="searchform">
        {lang('html-403')}：<input type="text" value="{$param['card']}" size="25" class="input-text" name="data[card]" />
		&nbsp;
        {lang('html-406')}：<input type="text" value="{$param['username']}" size="15" class="input-text" name="data[username]" />
		&nbsp;
        {lang('html-322')} ：<select name="data[status]">
        <option value=""> -- </option>
        <option value="1" {if $param['status']==1}selected{/if}> {lang('html-411')} </option>
        <option value="0" {if !$param['status'] && strlen($param['status']) > 0}selected{/if}> {lang('html-412')} </option>
        </select>
        &nbsp;
        <input type="submit" value="{lang('search')}" class="button" name="search" />
        </form>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
        <input name="action" id="action" type="hidden" value="" />
		<table width="100%">
		<thead>
		<tr>
			<th width="10" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="120" align="left">{lang('html-403')}</th>
			<th width="40" align="center">{lang('html-061')}</th>
			<th width="110" align="center">{lang('html-408')}</th>
			<th width="120" align="center">{lang('html-404')}</th>
			<th width="120" align="center">{lang('html-405')}</th>
			<th hide="1" width="120" align="center">{lang('html-407')}</th>
			<th align="left">{lang('html-406')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr>
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$t['id']}" />&nbsp;</td>
			<td align="left">{$t.card}</td>
			<td align="center">{$t.password}</td>
			<td align="center">{$t.money}</td>
			<td align="center">{dr_date($t.inputtime)}</td>
			<td align="center">{dr_date($t.endtime)}</td>
			<td hide="1" align="center">{dr_date($t.usetime)}</td>
			<td align="left"><input type="hidden" value="{$t['username']}" id="dr_author_{$t['uid']}" name="dr_author_{$t['uid']}">
            <a onclick="dr_dialog_member('author_{$t['uid']}')" href="javascript:;">{$t['username']}</a></td>
		</tr>
		{/loop}
		<tr>
        	<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="7" align="left" style="border:none"> 
             {if $this->ci->is_auth('member/admin/pay/del')}
			<input type="button" class="button" value="{lang('del')}" name="option" onClick="$('#action').val('del');dr_confirm_set_all('{lang('015')}')" />
            {/if}
			<input type="button" class="button" value="{lang('html-413')}" name="option" onClick="$('#action').val('export');dr_export()" />
			</td>
		</tr>
		</tbody>
		</table>
		</form>
        <div id="pages"><a>{dr_lang('html-346', $param['total'])}</a>{$pages}</div>
	</div>
</div>
{template footer.html}