{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">{lang('html-345')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<table width="100%">
        {list action=cache name=MEMBER.group return=group}
        {if $group['id'] > 2}
        <tr>
        	<td align="left" width="250">{$group['name']}</td>
            <td align="left"></td>
        </tr>
        {loop $group['level'] $level}
        <tr>
        	{php $id=$group['id'].'_'.$level['id'];}
        	<td align="left" width="250" style="padding-left:40px">{$level['name']}&nbsp;&nbsp;{dr_show_stars($level['stars'])}</td>
            <td align="left">
            <a href="javascript:;" onclick="dr_member_rule('{$id}', '{dr_url("member/setting/rule", array("id"=>$id))}', '{$group['name']}-{$level['name']}')" class="blue">[{lang('113')}]</a>
            <div id="dr_status_{$id}" class="onShow"></div>
            </td>
        </tr>
        {/loop}
        {else}
        <tr>
        	{php $id=$group['id'];}
        	<td align="left" width="250">{$group['name']}</td>
            <td align="left">
            <a href="javascript:;" onclick="dr_member_rule('{$id}', '{dr_url("member/setting/rule", array("id"=>$id))}', '{$group['name']}')" class="blue">[{lang('113')}]</a>
            <div id="dr_status_{$id}" class="onShow"></div>
            </td>
        </tr>
        {/if}
        {/list}
        </table>
	</div>
</div>
{template footer.html}