{template header.html}
<script type="text/javascript">
$(function() {
	SwapTab({$page});
	{if $result}
	art.dialog.tips('{lang('000')}', 3, 1);
	{/if}
});
function import_ucenter() {
	window.location.href="{dr_url('member/setting/importuc')}";
}
</script>
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="{SYS_HELP_URL}100.html" target="_blank"><em>{lang('help')}</em></a>
	</div>
	<div class="bk10"></div>
	<div class="table-list col-tab">
		<form action="" method="post" name="myform" id="myform">
        <input name="page" id="page" type="hidden" value="{$page}" />
		<ul class="tabBut cu-li">
			<li onclick="SwapTab(0)">{lang('html-083')}</li>
			<li onclick="SwapTab(1)">{lang('html-288')}</li>
			<li onclick="SwapTab(2)">Ucenter</li>
		</ul>
		<div class="contentList pad-10">
			<div id="cnt_0" style="display:none" class="dr_hide">
				<table width="100%" class="table_form">
				<tr>
					<th width="200">{lang('html-289')}： </th>
					<td>
					<font color="gray">{FCPATH}member/</font>
					</td>
				</tr>
				{loop $SITE $sid $t}
                <tr>
					<th>{dr_lang('html-290', $t['SITE_NAME'])}： </th>
					<td>
					<input class="input-text" type="text" name="data[domain-{$sid}]" value="{$data['domain-'.$sid]}" size="30" /><div class="onShow">{lang('html-291')}</div>
					</td>
				</tr>
				{/loop}
				<tr>
					<th>&nbsp;{lang('html-292')}： </th>
					<td>
					<input type="radio" name="data[logincode]" value="1" {dr_set_radio('logincode', $data['logincode'], '1', TRUE)} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[logincode]" value="0" {dr_set_radio('logincode', $data['logincode'], '0')} />&nbsp;<label>{lang('close')}</label>
					</td>
				</tr>
                <tr>
					<th>&nbsp;{lang('html-340')}： </th>
					<td>
					<input type="radio" name="data[avatar]" value="1" {dr_set_radio('avatar', $data['avatar'], '1')} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[avatar]" value="0" {dr_set_radio('avatar', $data['avatar'], '0', TRUE)} />&nbsp;<label>{lang('close')}</label>
					</td>
				</tr>
                <tr>
					<th>&nbsp;{lang('html-339')}： </th>
					<td>
					<input type="radio" name="data[complete]" value="1" {dr_set_radio('complete', $data['complete'], '1')} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[complete]" value="0" {dr_set_radio('complete', $data['complete'], '0', TRUE)} />&nbsp;<label>{lang('close')}</label>&nbsp;&nbsp;
                    <div class="onShow">{lang('html-148')}</div>
					</td>
				</tr>
                <tr>
					<th>&nbsp;{lang('html-658')}： </th>
					<td>
					<input {if !$mobile}disabled="disabled"{/if} type="radio" name="data[ismobile]" value="1" {dr_set_radio('ismobile', $data['ismobile'], '1')} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input {if !$mobile}disabled="disabled"{/if} type="radio" name="data[ismobile]" value="0" {dr_set_radio('ismobile', $data['ismobile'], '0', TRUE)} />&nbsp;<label>{lang('close')}</label>&nbsp;&nbsp;
                    <div class="onShow">{lang('html-657')}</div>
					</td>
				</tr>
                <tr>
					<th>&nbsp;{lang('html-656')}： </th>
					<td>
					<input {if !$mobile}disabled="disabled"{/if} type="radio" name="data[mobile]" value="1" {dr_set_radio('mobile', $data['mobile'], '1')} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input {if !$mobile}disabled="disabled"{/if} type="radio" name="data[mobile]" value="0" {dr_set_radio('mobile', $data['mobile'], '0', TRUE)} />&nbsp;<label>{lang('close')}</label>&nbsp;&nbsp;
                    <div class="onShow">{lang('html-657')}</div>
					</td>
				</tr>
				<tr>
					<th>{lang('html-479')}： </th>
					<td>
					<input class="input-text" type="text" name="data[pagesize]" value="{$data['pagesize']}" size="20" /><div class="onShow">{lang('html-480')}</div>
					</td>
				</tr>
				</table>
			</div>
			<div id="cnt_1" style="display:none" class="dr_hide">
				<table width="100%" class="table_form">
				<tr>
					<th width="200">&nbsp;{lang('html-293')}： </th>
					<td>
					<input type="radio" name="data[register]" value="1" {dr_set_radio('register', $data['register'], '1', TRUE)} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[register]" value="0" {dr_set_radio('register', $data['register'], '0')} />&nbsp;<label>{lang('close')}</label>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-294')}： </th>
					<td>
					<input type="radio" name="data[regcode]" value="1" {dr_set_radio('regcode', $data['regcode'], '1', TRUE)} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[regcode]" value="0" {dr_set_radio('regcode', $data['regcode'], '0')} />&nbsp;<label>{lang('close')}</label>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-679')}： </th>
					<td>
					<input type="radio" name="data[regoauth]" value="0" {dr_set_radio('regoauth', $data['regoauth'], '0', TRUE)} />&nbsp;<label>{lang('html-680')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[regoauth]" value="1" {dr_set_radio('regoauth', $data['regoauth'], '1')} />&nbsp;<label>{lang('html-681')}</label>
					<div class="onShow">{lang('html-682')}</div>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-295')}： </th>
					<td>
					<input type="radio" name="data[regverify]" value="1" {dr_set_radio('regverify', $data['regverify'], '1')} />&nbsp;<label>{lang('html-296')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[regverify]" value="2" {dr_set_radio('regverify', $data['regverify'], '2')} />&nbsp;<label>{lang('html-297')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[regverify]" value="0" {dr_set_radio('regverify', $data['regverify'], '0', TRUE)} />&nbsp;<label>{lang('close')}</label>
					<div class="onShow">{lang('html-298')}</div>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-299')}： </th>
					<td>
					<input class="input-text" type="text" name="data[regiptime]" value="{$data.regiptime}" size="10" />
					<div class="onShow">{lang('html-300')}</div>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-301')}： </th>
					<td>
					<input class="input-text" type="text" name="data[regnamerule]" id="dr_regnamerule" value="{$data.regnamerule}" size="40" />
					<select onchange="javascript:$('#dr_regnamerule').val(this.value)" name="pattern_select">
                    <option value="">{lang('html-190')}</option>
					<option value="/.*/">{lang('html-302')}</option>
					<option value="/^[0-9.-]+$/">{lang('html-191')}</option>
					<option value="/^[0-9-]+$/">{lang('html-192')}</option>
					<option value="/^[a-z]+$/i">{lang('html-193')}</option>
					<option value="/^[0-9a-z]+$/i">{lang('html-194')}</option>
					<option value="/^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/">E-mail</option>
					<option value="/^[0-9]{5,20}$/">QQ</option>
					<option value="/^(1)[0-9]{10}$/">{lang('html-196')}</option>
					<option value="/^[0-9-]{6,13}$/">{lang('html-197')}</option>
					<option value="/^[0-9]{6}$/">{lang('html-198')}</option>
					</select>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-303')}： </th>
					<td>
					<input class="input-text" type="text" name="data[regnotallow]" value="{$data.regnotallow}" size="60" />
					<div class="onShow">{lang('html-304')}</div>
					</td>
				</tr>
				</table>
			</div>
			<div id="cnt_2" style="display:none" class="dr_hide">
				<table width="100%" class="table_form">
				<tr>
					<th width="200">&nbsp;Ucenter： </th>
					<td>
					<input type="radio" name="data[ucenter]" value="1" {dr_set_radio('ucenter', $data['ucenter'], '1')} />&nbsp;<label>{lang('open')}</label>
                    &nbsp;&nbsp;&nbsp;
					<input type="radio" name="data[ucenter]" value="0" {dr_set_radio('ucenter', $data['ucenter'], '0', TRUE)} />&nbsp;<label>{lang('close')}</label>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-309')}： </th>
					<td>
					<input class="input-text" type="text" name="ucenterapi" value="{SITE_URL}member" style="width:320px;" />
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-310')}： </th>
					<td>
                    {php $synurl = $this->ci->get_cache('member', 'synurl');}
					<textarea style="width:60%;height:80px" class="input-text" name="ucenterapi">{loop $synurl $url}
					{if $url != SITE_URL.'member'}{$url}{PHP_EOL}{/if}
					{/loop}</textarea><br><font color="gray">{lang('html-311')}</font>
					</td>
				</tr>
				<tr>
					<th>&nbsp;{lang('html-312')}： </th>
					<td>
					<textarea style="width:60%;height:240px" class="input-text" name="data[ucentercfg]">{$data.ucentercfg}</textarea>
					</td>
				</tr>
				</table>
			</div>
			<table width="100%" class="table_form">
			<tr>
				<th width="200" style="border:none;">&nbsp;</th>
				<td>
				<input class="button" type="submit" name="submit" value="{lang('submit')}" />
				</td>
			</tr>
			</table>
		</div>
		</form>
	</div>
</div>
{template footer.html}