<script type="text/javascript">
$(function() { //防止回车提交表单
	document.onkeydown = function(e){ 
		var ev = document.all ? window.event : e;
		if (ev.keyCode==13) {
			$("#mark").val("1"); // 标识不能提交表单
		}
	}
});
function dr_form_check() {
	if ($("#mark").val() == 0) { 
		return true;
	} else {
		return false;
	}
}
</script>
<form action="" method="post" id="myform" name="myform" onsubmit="return dr_form_check()">
<input name="mark" id="mark" type="hidden" value="0" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:20px;">
  <tr height="30">
    <td>运送方式：{$shipping}</td>
  </tr>
  <tr>
    <td><textarea name="sendnote" style="height:60px; width:300px;"></textarea><font color="#999999">发货备注，可以填写快递名称，快递编号等等</font></td>
  </tr>
</table>
</form>