{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="{SYS_HELP_URL}9.html" target="_blank"><em>{lang('help')}</em></a>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <form method="get" action="" name="searchform" id="searchform">
        <input name="c" type="hidden" value="{$this->ci->router->class}" />
        <input name="m" type="hidden" value="{$this->ci->router->method}" />
        {lang('html-055')}：
        <input type="text" class="input-text" value="" name="keyword" />
        &nbsp;&nbsp;
        <input type="submit" value="{lang('search')}" class="button" name="search" />
        </form>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%">
		<thead>
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="40" align="center">Id</th>
			<th width="100" align="left">{lang('html-055')}</th>
			<th width="80" align="center">{lang('html-056')}</th>
			<th width="120" align="left">{lang('html-023')}</th>
			<th width="100" align="left">{lang('html-024')}</th>
			<th align="left" class="dr_option">{lang('option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr id="dr_row_{$t.uid}">
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$t.uid}" />&nbsp;</td>
			<td align="center">{$t.uid}</td>
			<td align="left"><input name="dr_author_{$t.uid}" id="dr_author_{$t.uid}" type="hidden" value="{$t.username}" /><a href="javascript:;" onclick="dr_dialog_member('author_{$t.uid}')">{dr_keyword_highlight($t.username, $param.keyword)}</a></td>
			<td align="center"><a href="{dr_url('root/index', array('roleid' => $t.adminid))}">{$t.name}</a></td>
			<td align="left">{dr_date($t.logintime)}</td>
			<td align="left"><a href="http://www.baidu.com/baidu?wd={$t.loginip}" target="_blank">{$t.loginip}</a></td>
			<td align="left" class="dr_option">
			{if $this->ci->is_auth('admin/root/edit')}<a href="{dr_dialog_url(dr_url('root/edit',array('id' => $t.uid)), 'edit')}">{lang('edit')}</a>{/if}
			{if $this->ci->is_auth('admin/root/del')}<a href="javascript:;" onClick="return dr_dialog_del('{lang('015')}','{dr_url('root/del',array('id' => $t.uid))}');">{lang('del')}</a>{/if}
			</td>
		</tr>
		{/loop}
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="6" align="left" style="border:none"> 
			{if $this->ci->is_auth('admin/root/del')}<input type="button" class="button" value="{lang('del')}" name="option" onClick="dr_confirm_del_all()" />&nbsp;<div class="onShow"><font color="#FF0000">{lang('html-057')}</font></div>{/if}
			</td>
		</tr>
		</tbody>
		</table>
		</form>
	</div>
</div>
{template footer.html}