{template header.html}
<script type="text/javascript">
$(function() {
	$(".table_form tr>th").attr("width", 200);
	{if $error}
	art.dialog.tips('<font color=red>{$error.msg}</font>', 3);
	d_tips('{$error['error']}', 0);
	{/if}
	{if $result}
	art.dialog.tips('{$result}', 3, 1);
	{/if}
	{if $create}
	$.post('{$create}&rand='+Math.random(),{ }, function(data){
	});
	{/if}
});
</script>
<form action="" method="post" name="myform" id="myform">
<input name="action" id="dr_action" type="hidden" value="back" />
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
    <div class="table-list contentList dr_table">
        <table width="100%" class="table_form">
        {$myfield}
        {if count($data) < 5}
        <tr>
            <th width="200">{lang('m-113')}： </th>
            <td>
			<input name="qq_share" type="checkbox" checked="checked" value="1" />
			<label>腾讯微博</label>
            {if !$member.oauth.qq}<label style="color:#FF0000">（请进入会员中心-账户-快捷登陆，绑定QQ账户）</label>{/if}
			&nbsp;&nbsp;
			<input name="sina_share" type="checkbox" checked="checked" value="1" />
			<label>新浪微博</label>
            {if !$member.oauth.sina}<label style="color:#FF0000">（请进入会员中心-账户-快捷登陆，绑定新浪账户）</label>{/if}
            </td>
        </tr>
        {/if}
        </table>
    </div>
</div>
<div class="fixed-bottom">
    <div class="fixed-but text-c">
        <div class="button"><input value="{lang('html-362')}" type="submit" name="submit" class="cu" onclick="$('#dr_action').val('back')" style="width:100px;" /></div>
        {if count($data)<5}
        <div class="button"><input value="{lang('html-363')}" type="submit" name="submit" class="cu" onclick="$('#dr_action').val('continue')" style="width:100px;" /></div>
        {/if}
    </div>
</div>
</form>
{template footer.html}