{template header.html}
<script type="text/javascript">
function dr_confirm_move() {
	art.dialog.confirm("{lang('015')}", function(){
		$('#action').val('move');
		var _data = $("#myform").serialize();
		var _url = window.location.href;
		if ((_data.split('ids')).length-1 <= 0) {
			$.dialog.tips(lang['select_null'], 2);
			return true;
		}
		// 将表单数据ajax提交验证
		$.ajax({type: "POST",dataType:"json", url: _url, data: _data,
			success: function(data) {
				//验证成功
				if (data.status == 1) {
					$.dialog.tips(data.code, 3, 1);
					$("input[name='ids[]']:checkbox:checked").each(function(){
						$.post("{SITE_URL}{APP_DIR}/index.php?c=show&m=create_html&id="+$(this).val(), {}, function(){});
					});
					setTimeout('window.location.reload(true)', 3000); // 刷新页
				} else {
					$.dialog.tips(data.code, 3, 2);
					return true;
				}
			},
			error: function(HttpRequest, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + HttpRequest.statusText + "\r\n" + HttpRequest.responseText);
			}
		});
		return true;
	});
	return false;
}
</script>
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		{if $flag}
		<font color="gray">{lang('html-490')}</font>
		{else}
        <form method="post" action="" name="searchform" id="searchform">
		<input name="search" id="search" type="hidden" value="1" />
		<select name="data[field]">
			{loop $field $t}
			{if $t.ismain}
			<option value="{$t.fieldname}" {if $param.field==$t.fieldname}selected{/if}>{$t.name}</option>
			{/if}
			{/loop}
		</select> ：
		<input type="text" class="input-text" value="{$param.keyword}" name="data[keyword]" />&nbsp;
		{lang('105')} ：
		{dr_field_input('start', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>80)), (int)$param.start)}
		-&nbsp;
		{dr_field_input('end', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>80)), (int)$param.end)}
		&nbsp;
		<input type="submit" value="{lang('search')}" class="button" name="search" />
		</form>
		{/if}
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
        <input name="action" id="action" type="hidden" value="" />
		<table width="100%">
		<thead>
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="30" align="center">{lang('order')}</th>
			<th hide="1" class="{ns_sorting('id')}" name="id" width="50" align="center">Id</th>
			<th class="{ns_sorting('title')}" name="title" align="left">{lang('mod-35')}</th>
			<th class="{ns_sorting('catid')}" name="catid" width="100" align="center">{lang('cat-00')}</th>
			<th hide="1" class="{ns_sorting('author')}" name="author" width="80" align="center">{lang('101')}</th>
			<th class="{ns_sorting('updatetime')}" name="updatetime" width="120" align="left">{lang('105')}</th>
			<th align="left" class="dr_option">{lang('option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr id="dr_row_{$t.id}">
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$t.id}" />&nbsp;</td>
			<td align="center"><input class="input-text displayorder" type="text" name="data[{$t.id}][displayorder]" value="{$t.displayorder}" /></td>
			<td hide="1" align="center">{$t.id}</td>
			<td align="left"><a href="{dr_url(APP_DIR.'/home/edit',array('id'=>$t.id))}">{if $t.thumb}<font color="#FF0000">{lang('html-387')}</font>{/if}{dr_keyword_highlight($t.title, $param.keyword)}</a></td>
			<td align="center"><a href="{dr_url(APP_DIR.'/home/index', array('flag'=>$flag,'catid'=>$t.catid))}">{CATEGORY.$t[catid].name}</a></td>
			<td hide="1" align="center"><input name="dr_author_{$t.id}" id="dr_author_{$t.id}" type="hidden" value="{$t.author}" /><a href="javascript:;" onclick="dr_dialog_member('author_{$t.id}')">{dr_strcut($t.author, 10)}</a></td>
			<td align="left">{dr_date($t.updatetime, NULL, 'red')}</td>
			<td align="left" class="dr_option">
			<a href="{$t.url}" target="_blank">{lang('go')}</a>
			{if $this->ci->is_auth(APP_DIR.'/admin/home/edit')}<a href="{dr_url(APP_DIR.'/home/edit',array('id'=>$t.id))}">{lang('edit')}</a>{/if}
            {if $extend}<a href="{dr_url(APP_DIR.'/extend/index',array('cid'=>$t.id,'catid'=>$get.catid))}" style="color:#00F">{lang('mod-29')}</a>{/if}
			{loop $app $a}<a href="{$a.url}&cid={$t.id}&catid={$t.catid}&module={APP_DIR}">{$a.name}({$t[$a['field']]})</a>{/loop}
			{loop $form $a}<a href="{$a.url}&cid={$t.id}">{$a.name}</a>{/loop}
			</td>
		</tr>
		{/loop}
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="8" align="left" style="border:none">
			{if !$get['flag']}{if $this->ci->is_auth(APP_DIR.'/admin/home/del')}<input type="button" class="button" value="{lang('del')}" name="option" onClick="$('#action').val('del');dr_confirm_set_all('{lang('015')}', 1)" />{/if}{/if}
            {if $this->ci->is_auth(APP_DIR.'/admin/home/edit')}
			<input type="button" class="button" value="{lang('order')}" name="option" onClick="$('#action').val('order');dr_confirm_set_all('{lang('015')}')" />
            <div class="onShow">{lang('html-565')}</div>
			<input type="button" class="button" value="{lang('html-265')}" name="option" onClick="dr_confirm_move();" />
			{$select}
			&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button" class="button" value="{lang('html-266')}" name="option" onClick="$('#action').val('flag');dr_confirm_set_all('{lang('015')}')" />
			<select name="flagid">
            <option value=""> --- </option>
            {if $get.flag}<option value="-{$get['flag']}">{lang('html-391')}</option>{/if}
			{loop $flags $i $t}
			{if $t.name}<option value="{$i}">{$t.name}</option>{/if}
			{/loop}
			</select>
			{/if}
			</td>
		</tr>
		</tbody>
		</table>
		</form>
        <div id="pages"><a>{dr_lang('html-346', $param.total)}</a>{$pages}</div>
	</div>
</div>
{template footer.html}