{template header.html}

<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <form method="post" action="" name="searchform" id="searchform">
		<input name="search" id="search" type="hidden" value="1" />
        {lang('html-374')}： 
		<select name="data[type]">
            <option value="0"> --- </option>
            {loop $type $i $t}
            <option value="{$i}">{$t}</option>
            {/loop}
        </select>&nbsp;
		<input type="submit" value="{lang('search')}" class="button" name="search" />
		</form>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%">
		<thead>
		<tr>
			<th width="130" align="left">{lang('html-374')}</th>
			<th width="130" align="left">{lang('html-213')}</th>
			<th width="130" align="left">{lang('html-531')}</th>
			<th width="50" align="left">{lang('html-322')}</th>
			<th align="left" class="dr_option">{lang('option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr>
			<td align="left">{$type[$t.type]}</td>
			<td align="left">{dr_date($t.inputtime, NULL, 'red')}</td>
			<td align="left">{dr_date($t.updatetime, NULL, 'red')}</td>
			<td align="left">{if $t.status}<font color=red>{dr_lang('html-222', $t.status)}</font>{else}{lang('html-221')}{/if}</td>
			<td align="left" class="dr_option">
            <a href="javascript:;" onclick="dr_dialog_show('{lang('html-224')}', '{dr_url('cron/show', array('id'=>$t.id))}')">{lang('html-224')}</a>
            <a href="{dr_url('cron/execute', array('id'=>$t.id))}" onclick="art.dialog.tips('执行中..', 9999, 2)">{lang('html-223')}</a>
            {if $t.error}({$t.error}){/if}
            </td>
		</tr>
		{/loop}
		</tbody>
		</table>
		</form>
        <div id="pages"><a>{dr_lang('html-346', $total)}</a>{$pages}</div>
	</div>
</div>
{template footer.html}