<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{dr_lang('html-001', SITE_NAME)}</title>
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" href="{SITE_PATH}dayrui/statics/css/bootstrap.css" />
<link rel="stylesheet" href="{SITE_PATH}dayrui/statics/css/bootstrap-responsive.css" />
<link rel="stylesheet" href="{SITE_PATH}dayrui/statics/css/style.css" />
<link rel="stylesheet" href="{SITE_PATH}dayrui/statics/css/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="{SITE_URL}dayrui/statics/css/table_form.css" />
<script type="text/javascript">var siteurl = "{SITE_PATH}{SELF}";var memberpath = "{MEMBER_PATH}";</script>
<script type="text/javascript" src="{SITE_PATH}member/statics/js/{SITE_LANGUAGE}.js"></script>
<script type="text/javascript" src="{SITE_PATH}member/statics/js/jquery.min.js"></script>
<script type="text/javascript" src="{SITE_PATH}member/statics/js/jquery.artDialog.js?skin=default"></script> 
<script type="text/javascript" src="{SITE_PATH}member/statics/js/validate.js"></script>
<script type="text/javascript" src="{SITE_PATH}member/statics/js/admin.js"></script>
<script type="text/javascript" src="{SITE_PATH}member/statics/js/dayrui.js"></script>
<script type="text/javascript">
$(function() {
	{if $username}
	$("#password").focus();
	{else}
	$("#username").focus();
	{/if}
}); 
</script>
</head>
<body class='login'>
	<div class="wrapper">
		<h1><a href="index.php"><img width="59" height="49" class="retina-ready" src="{SITE_PATH}dayrui/statics/images/alogo@2x.png">FineCMS</a></h1>
		<div class="login-body">
			<h2>{dr_lang('html-001', '')}</h2>
			<form action="" method='post' class='form-validate'>
				<div class="control-group">
					<div class="email controls">
						<input id="username" type="text" name="username" value="{$username}" placeholder="{lang('html-532')}" class='input-block-level' required />
					</div>
				</div>
				<div class="control-group">
					<div class="pw controls">
						<input type="password" id="password" name="password" placeholder="{lang('html-061')}" class='input-block-level' required />
					</div>
				</div>
				{if SITE_ADMIN_CODE}
				<div class="control-group">
					<div class="pw controls">
						<input type="text" name="code" style="width:210px;" placeholder="{lang('html-077')}" class='input-block-level' />
						<label class="dr_code">{dr_code(120, 35)}</label>
					</div>
				</div>
				{/if}
				<div class="submit">
					<input style="padding: 8px 15px;" type="submit" value="{lang('html-076')}" class='btn btn-primary'>
				</div>
			</form>
			<div class="forget" style="margin-top: 20px;">
				<a href="http://www.dayrui.com/"><span>{lang('html-003')}</span></a>
			</div>
		</div>
	</div>
</body>

</html>
