{template header.html}
<script type="text/javascript">
$(function() {
	{if $error}
	art.dialog.tips('<font color=red>{$error.msg}</font>', 3);
	d_tips('{$error.error}', 0);
	{/if}
});
</script>
<form action="" method="post" name="myform" id="myform">
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
    <div class="table-list contentList dr_table">
        <table width="100%" class="table_form">
        {$myfield}
        <tr>
            <th width="200" style="border:none;">&nbsp;</th>
            <td style="color:#999">{dr_lang('html-673', 'editc', $tpl)}</td>
        </tr>
        <tr>
			<th width="200" style="border:none;">&nbsp;</th>
			<td>
			<input class="button" type="submit" name="submit" value="{lang('submit')}" />
			</td>
		</tr>
        </table>
    </div>
</div>
</form>
{template footer.html}