<script type="text/javascript">
$(function() { //防止回车提交表单
	document.onkeydown = function(e){ 
		var ev = document.all ? window.event : e;
		if (ev.keyCode==13) $("#mark").val("1"); // 标识不能提交表单
	}
	$(".table_form th").last().css('border','none');
	$(".table_form td").last().css('border','none');
});
function dr_form_check() {
	if ($("#dr_name").val() == '') {
		dr_form_tips('name', false, '{lang("html-026")}');
		return false;
	} else {
		dr_form_tips('name', true, '&nbsp;');
	}
	if ($("#mark").val() == 0) { 
		return true;
	} else {
		return false;
	}
}
</script>
<div class="table-list" style="width:600px;">
<form action="" method="post" id="myform" name="myform" onsubmit="return dr_form_check()">
<input name="mark" id="mark" type="hidden" value="0">
<table width="100%" class="table_form">
<tr>
    <th width="100"><font color="red">*</font>&nbsp;{lang('html-026')}： </th>
    <td>
    <input class="input-text" type="text" name="data[name]" id="dr_name" value="{$data['name']}" size="20" />
    <div class="onShow" id="dr_name_tips">{lang('html-027')}</div>
    </td>
</tr>
{if $data['id']!=1}
<tr>
    <th style="border:none">&nbsp;{lang('html-072')}： </th>
    <td style="border:none">
    <table width="100%" class="table_form">
    {loop $SITE $id $t}
    <tr>
        <td>&nbsp;<input class="dr_rule" name="data[site][]" type="checkbox" value="{$id}" {if @in_array($id, $data['site'])}checked="checked"{/if} />&nbsp;&nbsp;{$t['SITE_NAME']}&nbsp; </td>
    </tr>
    {/loop}
    <tr>
        <td style="border:none">&nbsp;<input name="_rule_admin" id="dr_rule" type="checkbox" onclick="dr_selected_by('dr_rule')" />&nbsp;&nbsp;<font color="#FF0000">{lang('html-073')}</font></td>
    </tr>
    </table>
    </td>
</tr>
{/if}
</table>
</form>
</div>