{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="{SYS_HELP_URL}11.html" target="_blank"><em>{lang('help')}</em></a>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">{lang('html-149')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%">
		<thead>
		<tr>
			<th width="20" align="right"><input name="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="200" align="left">{lang('html-087')}</th>
			<th width="300" align="left">{lang('html-089')}</th>
			<th align="left">{lang('option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $sid $t}
		<tr>
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$sid}" />&nbsp;</td>
			<td align="left"><input class="input-text" type="text" name="data[{$sid}][name]" value="{$t.name}" size="25" required /></td>
			<td align="left"><input class="input-text" type="text" name="data[{$sid}][domain]" value="{$t.domain}" size="40" required /></td>
			<td align="left"><a href="http://{$t.domain}{SITE_PATH}" target="_blank">{lang('go')}</a>&nbsp;&nbsp;
			{if $this->ci->is_auth('site/config')}<a href="{dr_url('site/config',array('id' => $sid))}">{lang('061')}</a>&nbsp;&nbsp;&nbsp;{/if}
			{if $this->ci->is_auth('site/del') && $sid > 1}<a href="javascript:;" onClick="return dr_confirm_url('{lang('015')}','{dr_url('site/del', array('id' => $t.id))}');">{lang('del')}</a>{/if}
			</td>
		</tr>
		{/loop}
		<tr>
			<th align="right"><input name="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="3" align="left"> 
			{if $this->ci->is_auth('site/edit')}<input type="submit" class="button" value="{lang('edit')}" name="submit" onClick="return dr_confirm_set_all('{lang('015')}');" />&nbsp;{/if}
			</td>
		</tr>
		</tbody>
		</table>
		</form>
	</div>
</div>
{template footer.html}