{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <form method="post" action="" name="searchform" id="searchform">
		{lang('html-484')} ：
		{dr_field_input('time', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>80)), $time)}
		&nbsp;
		<input type="submit" value="{lang('search')}" class="button" name="search" />
			<font color="gray">{lang('html-483')}</font>
		</form>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<table width="100%">
		<thead>
		<tr>
			<th align="left" width="130">{lang('html-481')}</th>
			<th align="left" width="100">Ip</th>
			<th align="left" width="80">{lang('html-482')}</th>
			<th align="center" width="60">App</th>
			<th align="center" width="60">Module</th>
			<th align="center" width="60">Class</th>
			<th align="center" width="60">Method</th>
			<th align="left">URI</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $id $t}
		{php $t=dr_string2array($t);}
		<tr>
			<td align="left">{dr_date($t['time'], null, 'red')}</td>
			<td align="left"><input id="dr_{$id}_ip" type="hidden" value="{$t['ip']}" /><a href="javascript:dr_dialog_ip('{$id}_ip');">{$t['ip']}</a></td>
			<td align="left"><input id="dr_{$id}_user" type="hidden" value="{$t['admin']}" /><a href="javascript:dr_dialog_member('{$id}_user');">{$t['admin']}</a></td>
			<td align="center">{php echo $t['app'] ? $t['app'] : 'NULL';}</td>
			<td align="center">{php echo $t['module'] ? $t['module'] : 'NULL';}</td>
			<td align="center">{$t['class']}</td>
			<td align="center">{$t['method']}</td>
			<td align="left"><a href="{$t['url']}" target="_blank">{$t['uri']}</a></td>
		</tr>
		{/loop}
		<tr>
			<td colspan="8" align="left" style="border:none"> 
			</td>
		</tr>
		</tbody>
		</table>
        <div id="pages"><a>{dr_lang('html-346', $total)}</a>{$pages}</div>
	</div>
</div>
{template footer.html}