{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="{SYS_HELP_URL}149.html" target="_blank"><em>{lang('help')}</em></a>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <font color="gray">{lang('html-683')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%">
		<thead>
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="200" align="left">{lang('html-026')}</th>
			<th width="60" align="center">{lang('html-028')}</th>
			<th align="left" class="dr_option">{lang('option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr>
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$t.id}" />&nbsp;</td>
			<td align="left">{if $this->ci->is_auth('admin/urlrule/edit')}<a href="{dr_url('urlrule/edit',array('id'=>$t.id))}">{$t.name}</a>{else}{$t.name}{/if}</td>
			<td align="center"><font color="{$color[$t['type']]}">{$type[$t['type']]}</font></td>
			<td align="left" class="dr_option">
			{if $this->ci->is_auth('admin/urlrule/edit')}<a href="{dr_url('urlrule/edit',array('id'=>$t.id))}">{lang('edit')}</a>{/if}
			</td>
		</tr>
		{/loop}
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="5" align="left" style="border:none"> 
			{if $this->ci->is_auth('admin/urlrule/del')}<input type="button" class="button" value="{lang('del')}" name="option" onClick="dr_confirm_set_all('{lang('html-692')}')" />{/if}
			&nbsp;<div class="onShow"><font color="#FF0000">{lang('html-693')}</font></div>
			</td>
		</tr>
		</tbody>
		</table>
		</form>
	</div>
</div>
{template footer.html}