<div class="end" >
	<div class="idx">
        {list action=navigator type=2 num=10}
        {if $key==0}-{/if}<a href="{$t.url}" title="{$t.title}" {if $t.target}target="_blank"{/if}>{$t.name}</a>-
        {/list}
        {$error}<!--如果查询为空，error变量会返回错误提示，正式上线建议删除-->
    </div>
</div>
<div class="copyright">
    <div class="idx">
    	Powered by FineCMS v{DR_VERSION} © 2011-2013 Dayrui Inc.<!--非授权用户请保留FineCMS的字样-->
        <br><b style="color:#F00">FineCMS！这是一套神奇的系统</b>
        <br>
        <a href="http://www.dayrui.com" target="_blank"><img border="0" src="{HOME_THEME_PATH}images/love.gif" alt="我们一直用心在做"></a>
    </div>
</div>
</body>
</html>