{template "header.html"}
<div class="clear"></div>
<div class="Dg">您当前位置：<a href="{SITE_URL}">首页</a>  > <a href="{MODULE_URL}">{MODULE_NAME}</a>  > {dr_catpos($catid, ' > ')}<!--面包屑导航--></div>
<div class="exam_three">
	<div class="exam_three_l photo_l">
		{template "left.html"}
	</div>
	<div class="exam_lmlist">
		<div class="box01">
			<div class="tit"><a class="curr" href="{$cat.url}">{$cat.name}</a></div>
            {template "list_form.html"}<!--把搜索表单专门放在一个模板页面中，主要是适用于多次调用，因为列表和搜索页都要用到它，所以你懂得-->
        </div>
		<div class="box02">		
			<ul>
            	{list action=module catid=$catid field=* order=updatetime page=1}<!--循环显示8条-->
				{template "list_data.html"}<!--把列表内容专门放在一个模板页面中，主要是适用于多次调用，因为列表和搜索页都要用到它，所以你懂得-->
				{/list}	
			</ul>
			<div id="fenye" class="fenye">{$pages}</div>
		</div>
    </div>
</div>
<div class="clear"></div>
{template "footer.html","/"}