{template "header.html"}
<script language="javascript">
// 这是加入收藏夹的ajax请求，我就随意写了一下提示信息，至于美化啊什么交给你们了
function dr_favorite() {
	$.get("{MODULE_URL}index.php?c=api&m=favorite&id={$id}", function(data){
		if (data == 1) {
			dr_tips("没有登录，不能收藏");
		} else if (data == 2) {
			dr_tips("文档不存在，无法收藏");
		} else if (data == 3) {
			dr_tips("更新收藏成功", 3, 1);
		} else if (data == 4) {
			dr_tips("收藏成功", 3, 1);
		}
	});
}
</script>
<div class="clear"></div>
<div class="Dg">您当前位置：<a href="{SITE_URL}">首页</a>  > <a href="{MODULE_URL}">{MODULE_NAME}</a>  > {dr_catpos($catid, ' > ')}<!--面包屑导航--></div>
<div class="exam_three">
	<div class="exam_three_l photo_l">
		{template "left.html"}
	</div>
	<div class="exam_intro">
		<div class="box01">
			<div class="tit"><h4>详细信息</h4></div>
				<div class="ksnr_box">
                    <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#111111" bgcolor="#FFFFFF">
                    <tr>
                    <td width="160" rowspan="11" align="center">
                    <img src="{dr_thumb($thumb, 150, 180)}" width="150" style="padding-top: 12px;" height="180" /><br /> 
                    <a href="javascript:dr_favorite();"><img src="{HOME_THEME_PATH}images/jrsc.png" style="margin-top:10px;" /></a>
                    </td>
                    <td width="400"><strong>{$title}</strong></td>
                    </tr>
                    <tr>
                    <td>上映地区：{$area}</td>
                    </tr>
                    <tr>
                    <td>上映年代：{$year}</td>
                    </tr>
                    <tr>
                    <td>视频导演：{$director}</td>
                    </tr>
                    <tr>
                    <td>主要演员：{$actor}</td>
                    </tr>
                    <tr>
                    <td>观看人数：{dr_show_hits($id)}</td>
                    </tr>
                    <tr>
                    <td>更新状态：{$schedule}</td>
                    </tr>
                    <tr>
                    <td>更新时间：{$updatetime}</td>
                    </tr>
                    <tr>
                    <td>关键词语：<!--输出Tag标签，这个用法只能在当前show页面使用-->
                    {loop $keywords $name $url}
                    <a href="{$url}" target="_blank">{$name}</a>
                    {/loop}</td>
                    </tr>
                    <tr>
                    <td><!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                <span class="bds_more"></span>
                <a class="bds_qzone"></a>
                <a class="bds_tsina"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
                <a class="bds_t163"></a>
                <a class="shareCount"></a>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=118291" ></script>
                <script type="text/javascript" id="bdshell_js"></script>
                <script type="text/javascript">
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                </script>
                <!-- Baidu Button END --></td>
                    </tr>
                    <tr>
                    </table>
				</div>
			</div>
            <div class="box02">
				<div class="tit"><h4>剧集列表</h4></div>
				<div class="ksnr_box">
                     <div class="chapter_list">
                         <ul class="movielist movielist_115x70">
                         	{list action=extend field=name,url,preview cid=$id order=id_asc}
                            <li>
                                <a class="pic" target="_blank" href="{$t.url}"><img src="{dr_thumb($t.preview)}" ></a>
                                <h3><a target="_blank" href="{$t.url}">{$t.name}</a></h3>
                            </li>
                            {/list}
                        </ul>
                        <div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="box02">
				<div class="tit"><h4>剧情介绍</h4></div>
				<div class="ksnr_box">
					 {$content}
				</div>
			</div>
            <div class="clear"></div>
           
		</div>
	</div>
</div>
<div class="clear"></div>
{template "footer.html","/"}