{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <font color="gray">{lang('mod-47')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<input name="action" id="action" type="hidden" value="order" />
		<table width="100%">
		<thead>
        <tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="30" align="center">{lang('order')}</th>
            <th width="1" align="left">&nbsp;</th>
            <th align="left">{lang('mod-48')}</th>
			<th align="left">{if $this->ci->is_auth(APP_DIR.'/admin/format/adddata')}<a class="add" title="{lang('add')}" href="{dr_dialog_url(dr_url(APP_DIR.'/format/adddata', array('pid'=>0, 'fid'=>$fid)), 'add')}"></a>{/if}</th>
        </tr>
        </thead>
		<tbody>
		{$list}
		<tr>
			<th align="right"><input name="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="7" align="left"> 
            <input type="button" class="button" value="{lang('del')}" name="button" onClick="$('#action').val('del');return dr_confirm_del_all()" />&nbsp;
			<input type="button" class="button" value="{lang('order')}" name="button" onclick="$('#action').val('order');return dr_confirm_del_all()" />&nbsp;<div class="onShow">{lang('html-054')}</div>
			</td>
		</tr>
		</tbody>
		</table>
		</form>
	</div>
</div>
{template footer.html}