{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <form method="post" action="" name="searchform" id="searchform">
		{lang('html-562')} ：
		<input type="text" class="input-text" value="" name="data[keyword]" />
		&nbsp;
		<input type="submit" value="{lang('search')}" class="button" name="search" />
		</form>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
        <input name="action" id="action" type="hidden" value="" />
		<table width="100%">
		<thead>
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<th width="20" align="left">Id</th>
			<th width="200" align="left">{lang('mod-45')}</th>
			<th align="left" class="dr_option">{lang('option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr id="dr_row_{$t.id}">
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$t.id}" />&nbsp;</td>
			<td align="left">{$t.id}</td>
			<td align="left">{dr_keyword_highlight($t.name, $param.keyword)}</a></td>
			<td align="left" class="dr_option">
			{if $this->ci->is_auth(APP_DIR.'/admin/format/edit')}<a href="{dr_dialog_url(dr_url(APP_DIR.'/format/edit', array('id' => $t.id)), 'edit')}">{lang('edit')}</a>{/if}
			{if $this->ci->is_auth(APP_DIR.'/admin/format/data')}<a href="{dr_url(APP_DIR.'/format/data', array('fid' => $t.id))}">{lang('mod-43')}</a>{/if}
			</td>
		</tr>
		{/loop}
		<tr>
			<th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
			<td colspan="6" align="left" style="border:none">
			{if $this->ci->is_auth(APP_DIR.'/admin/format/del')}<input type="button" class="button" value="{lang('del')}" name="option" onClick="$('#action').val('del');dr_confirm_set_all('{lang('015')}')" />{/if}
			</td>
		</tr>
		</tbody>
		</table>
		</form>
        <div id="pages"><a>{dr_lang('html-346', $param.total)}</a>{$pages}</div>
	</div>
</div>
{template footer.html}