{template "header.html"}
<div class="clear"></div>
<div class="idx"><img src="{HOME_THEME_PATH}images/ad.jpg" width="100%" /></div>
<div class="clear"></div>
<div class="Dg">您当前位置：<a href="{SITE_URL}">首页</a>  > <a href="{MODULE_URL}">{MODULE_NAME}</a>  > {dr_catpos($catid, ' > ')}<!--面包屑导航--></div>

<div class="subject">
	<div class="subject_l">
		<div class="l_one">
			<h4>专题分类</h4>
			<ul>
			<!--循环栏目作为导航栏目，pid=0表示顶级栏目-->
			{list action=category pid=0}
			<!--下面那句if表示当前栏目时就加粗高亮显示-->
			<li {if in_array($catid, $t.catids)} class="curr" style="font-weight:bold;"{/if}><a href="{$t.url}">{$t.name}</a></li>
			{/list}{$error}
			</ul>
		</div>
		<div class="l_two">
			<h4>专题排行榜</h4>
			<ul>
			{list action=module order=hits num=10}
			<li><span>{$key+1}</span><a href="{$t.url}">{dr_strcut($t.title, 25)}</a></li>
			{/list}
			</ul>
		</div>
	</div>
	<div class="subject_r">
		<h4>{$cat.name}</h4>
		<ul>
			{list action=module catid=$catid field=title,url,updatetime order=updatetime page=1}
			<li>
				<a href="{$t.url}"><img src="{dr_thumb($t.thumb, 100, 70)}" align="left" /></a>
				<div class="r_ct">
					<a href="{$t.url}" class="title">{$t.title}</a>
					<div class="intro">{$t.description}<a href="{$t.url}">[详细]</a></div>
				</div>
			</li>
			{/list}
		</ul>
		<div class="n_fy" style="padding-left:0px">
            <div class="fenye" id="fenye">{$pages}</div>
		<div>
		<div class="clear"></div>
	</div>
</div>	
</div>
<div class="clear"></div>
{template "footer.html","/"}
